html,body{
	height: 100%;
	width: 100%;
	min-width: 300px;
	background: #fff;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	border: 0px;
	font-size: 100%;
	font: inherit;
}


#main-wrapper{
	margin:auto;
}

.wrapper-general-content{
	margin:20px;
}
